# Package checklist; install before execution. Scripts never install packages.
# Bioconductor packages should be installed from a release compatible with R 4.3.x.
base
stats
utils
tools
parallel
jsonlite
digest
Matrix
readxl
dplyr
tidyr
stringr
writexl
data.table
ggplot2
igraph
ggraph
tidygraph
ggrepel
openxlsx
httr
clusterProfiler
org.Hs.eg.db
enrichplot
ComplexHeatmap
circlize
RColorBrewer
ggpubr
glmnet
e1071
caret
pROC
gridExtra
preprocessCore
reshape2
broom
ggsci
corrplot
ggridges
limma
tidyverse
linkET
pheatmap
Seurat
SeuratObject
patchwork
